
/* global styles */

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-size: 100%;
    font-family: Tahoma, Verdana, Geneva, Helvetica, Arial, sans-serif;
}

/* common styles */

.hidden {
    display: none;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blink;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-iteration-count: infinite;

    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@-moz-keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

@-webkit-keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

/* selection */

::selection {
    background-color: rgba(0, 0, 0, 0.2); /* #A76E00 */
}

::-moz-selection {
    background-color: rgba(0, 0, 0, 0.2); /* #A76E00 */
}

/* control styles */

input,
button,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
}

button,
input[type=text],
input[type=password] {
    padding: 2px;
    color: black;
    border: 1px solid gray;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
    font-size: 0.875em;
}

button {
    cursor: pointer;
    background-color: #CC9966;
}

button:hover {
    cursor: pointer;
    background-color: #D0A070;
}

button:disabled {
    cursor: default;
    background-color: #CC9966;
}

input[type=text],
input[type=password] {
    background-color: #FFE7D6;
}

input[type=text][readonly],
input[type=password][readonly] {
    background-color: #DDDDDD;
}

input[type=text]:disabled,
input[type=password]:disabled {
    background-color: #DDDDDD;
}

@media screen and (max-width: 30em) {
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 20em) {
    body {
        font-size: 80%;
    }
}
